install
text
reboot
url --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=os
lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC
rootpw --plaintext password
user --name=cloud --groups=cloud --password=cloud --plaintext
zerombr
clearpart --all --initlabel
autopart --type=plain
bootloader --timeout=1

%packages
@core
which
# mandatory packages in the @core group
-btrfs-progs
-iprutils
-kexec-tools
-plymouth
# default packages in the @core group
-*-firmware
-kernel-tools
-libsysfs
-microcode_ctl
-NetworkManager*
-rdma
%end

%post --erroronfail
yum -y update
yum -y --enablerepo extras install epel-release

cat <<EOF > /etc/sudoers.d/cloud
Defaults:cloud !requiretty
cloud ALL=(ALL) NOPASSWD: ALL
EOF
chmod 440 /etc/sudoers.d/cloud

%end
